RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php?url=$1 [QSA,L]

<IfModule mod_Deflate.c>
    <files *.css>
    SetOutputFilter DEFLATE
    </files>
    <files *.js>
    SetOutputFilter DEFLATE
    </files>
</IfModule>

<IfModule mod_header.c>
    <FileMatch "\.ico$">
        Header set Cache-control max-age=31536000
    </FileMatch>
</IfModule>