#title {
  background: linear-gradient(to right, rgba(119, 124, 128, 0.6), rgba(59, 62, 64, 0.9)), url("../images/mountain.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#presentation {
  color: hsl(0, 0%, 13%);
}

#presentation,
#skills {
  background-color: #f0f3f8;
}

#presentation article a {
  color: #0054b3;
}

#presentation a:hover {
  color: black;
  text-decoration: none;
}

#projects {
  background: linear-gradient(to right, rgba(119, 124, 128, 0.6), rgba(59, 62, 64, 0.9)), url("../images/landscape.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  color: hsl(0, 0%, 13%);
}

.button.animated-corners::after,
.button.animated-corners::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.button.animated-corners::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: hsl(0, 0%, 13%);
  border-right-color: hsl(0, 0%, 13%);
}

.button.animated-corners::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: hsl(0, 0%, 13%);
  border-left-color: hsl(0, 0%, 13%);
}

.button.animated-corners:hover:after,
.button.animated-corners:hover:before {
  width: 100%;
  height: 100%;
}

#skills ul {
  list-style: none;
}