.parallax-header-project {
  background: linear-gradient(to right, rgba(119, 124, 128, 0.6), rgba(59, 62, 64, 0.9)), url("/public/build/images/laptop.jpg") no-repeat scroll center 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 300px;
}