<footer class="text-center">
    <div>
        <div class="social">
            <div class="d-inline ml-auto mr-2 mt-2">
                <a href="https://twitter.com/laure_th" class="social-media twitter" role="button" title="Twitter"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="d-inline mx-2 mt-2">
                <a href="https://www.reddit.com/user/Merilthor" class="social-media reddit" role="button" title="Reddit"><i class="fab fa-reddit"></i></a>
            </div>
            <div class="d-inline mx-2 mt-2">
                <a href="https://www.linkedin.com/in/thomas-laure-developpeur-web/" class="social-media linkedin" role="button" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="d-inline mr-auto ml-2 mt-2">
                <a href="https://github.com/thlaure" class="social-media github" role="button" title="GitHub"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
    <p class="mb-1">Made by <a href="mailto:thomaslaure3@gmail.com" class="text-dark">Thomas LAURE</a> with <i class="fab fa-symfony"></i> and <i class="fab fa-react"></i></p>
</footer>