<footer class="text-center">
    <div>
        <div class="row social">
            <div class="ml-auto mr-3 mt-2">
                <a href="https://twitter.com/laure_th" class="social-media twitter" role="button" title="Twitter"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="mx-3 mt-2">
                <a href="https://www.reddit.com/user/Merilthor" class="social-media reddit" role="button" title="Reddit"><i class="fab fa-reddit"></i></a>
            </div>
            <div class="mx-3 mt-2">
                <a href="https://www.linkedin.com/in/thomas-laure-developpeur-web/" class="social-media linkedin" role="button" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="mr-auto ml-3 mt-2">
                <a href="https://github.com/thlaure" class="social-media github" role="button" title="GitHub"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
    <p class="mb-1">Site développé par Thomas LAURE avec <i class="fab fa-react"></i> et <i class="fab fa-symfony"></i></p>
</footer>