{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('public/css/error.min.css') }}">
{% endblock %}

{% block title %}404 | Page non trouvée{% endblock %}

{% block inner_body %}
<div id="not-found">
    <h1 class="text-center text-light display-1">404</h1>
    <h2 class="text-center text-light display-4">Looks like you got lost</h2>
    <a href="{{ path('home') }}" class="btn btn-light rounded-pill p-md-3 col-md-2 mt-3 mx-auto" title="Return to home"><i class="fas fa-home"></i> Go home</a>
</div>
{% endblock %}