{% extends 'base.html.twig' %}

{% block title %}Thomas LAURE | Projet {{ project.title }}{% endblock %}

{% block inner_body %}
{% include('navbar.html.twig') %}
<div class="fluid-container">
    <h1>{{ project.title }}</h1>
    <p class="lead">{{ project.description }}</p>
</div>
{% endblock %}
